[submodule "external/type_safe"]
	path = external/type_safe
	url = https://github.com/foonathan/type_safe
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
